#overlay_mb{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.7);z-index:99999;cursor:pointer}#overlay_mb .overlay_mb_content{position:relative;height:100%}.overlay_mb_block{display:inline-block;position:relative}#overlay_mb .overlay_mb_content .overlay_mb_wrapper{width:600px;height:auto;position:relative;left:50%;top:50%;transform:translate(-50%, -50%);text-align:center}#overlay_mb .overlay_mb_content .cls_ov{color:#fff;text-align:center;cursor:pointer;position:absolute;top:5px;right:5px;z-index:999999;font-size:14px;padding:4px 10px;border:1px solid #aeaeae;background-color:rgba(0, 0, 0, 0.7)}#overlay_mb img{position:relative;z-index:999}@media only screen and (max-width: 768px){#overlay_mb .overlay_mb_content .overlay_mb_wrapper{width:400px;top:3%;transform:translate(-50%, 3%)}}@media only screen and (max-width: 400px){#overlay_mb .overlay_mb_content .overlay_mb_wrapper{width:310px;top:3%;transform:translate(-50%, 3%)}}
#overlay_pc {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    cursor: pointer;
    }
    #overlay_pc .overlay_pc_content {
    position: relative;
    height: 100%;
    }
    .overlay_pc_block {
    display: inline-block;
    position: relative;
    }
    #overlay_pc .overlay_pc_content .overlay_pc_wrapper {
    width: 600px;
    height: auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }
    #overlay_pc .overlay_pc_content .cls_ov {
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999999;
    font-size: 14px;
    padding: 4px 10px;
    border: 1px solid #aeaeae;
    background-color: rgba(0, 0, 0, 0.7);
    }
    #overlay_pc img {
    position: relative;
    z-index: 999;
    }
    @media only screen and (max-width: 768px) {
    #overlay_pc .overlay_pc_content .overlay_pc_wrapper {
    width: 400px;
    top: 3%;
    transform: translate(-50%, 3%);
    }
    }
    @media only screen and (max-width: 400px) {
    #overlay_pc .overlay_pc_content .overlay_pc_wrapper {
    width: 310px;
    top: 3%;
    transform: translate(-50%, 3%);
    }
    }
